.pageContainer {
    background-color: sandybrown !important;
    height: 80%; /* Modificato da 40% a 80% per coprire più spazio verticalmente */
    width: 80%; /* Larghezza del container */
    margin: auto; /* Centra il container orizzontalmente e verticalmente */
    display: flex; /* Usa Flexbox per allineare i contenuti */
    flex-direction: column; /* Imposta la direzione dei flex items */
    justify-content: center; /* Centra i contenuti verticalmente */
    align-items: center; /* Centra i contenuti orizzontalmente */
    position: relative; /* Posizionamento relativo per posizionare assolutamente le card al suo interno */
}

.cardWrapper {
    width: 100%; /* Larghezza della card mantenuta al 100% del suo container */
    margin-bottom: 1rem; /* Margine inferiore */
    height: 400px; /* Altezza fissa per tutte le card */
    overflow: hidden; /* Nasconde il contenuto in eccesso */
    transition: transform 0.3s ease; /* Transizione per l'effetto di allargamento */
    position: relative; /* Impostato su relative per permettere la corretta transizione e sovrapposizione */
}

.card {
    border-radius: 8px; /* Bordi arrotondati */
    background-color: rgb(254, 208, 92); /* Sfondo */
    overflow: hidden; /* Nasconde il contenuto in eccesso */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transizioni per ombra e trasformazione */
    width: 100%; /* Larghezza della card */
    position: static; /* Rimosso absolute per evitare problemi di posizionamento */
}

.card:hover, .cardActive {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Ombra più evidente */
    transform: scale(1.05); /* Effetto di allargamento */
    background-color: sandybrown; /* Sfondo modificato al hover */
    z-index: 10; /* Aumenta lo z-index al hover per mantenere la card sopra le altre */
}

.cardImage {
    width: 100%; /* Larghezza dell'immagine */
    height: 200px; /* Altezza fissa dell'immagine */
    object-fit: cover; /* Riempie completamente lo spazio disponibile senza distorsioni */
    border-radius: 8px 8px 0 0; /* Bordi arrotondati solo in alto */
}

.cardActive .cardImage {
    height: 400px; /* Altezza maggiore dell'immagine per mostrare l'immagine intera */
}

/* Altri stili rimangono invariati */
