.banner {
  height: 400px;
  width: 100%;
  background-size:cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40%;
}
.MainLayout_body_n4Xut{
 
  width: 100%;
  height: 100vh;
}

.userLogo {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  margin: 300px;
  overflow: hidden;
  position: relative;
}

.imageInput {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.changePhoto{
  color: white;
 
}
.imageUploader{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.bioInputArea {
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 30%;
}

.userBio {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #f8f6f6;
  border-radius: 5px;
  color: white;
  width: 30%;
}
h1{
  color: white;
}
.photoGallery {
  float: right;
  width: 30%;
}
p{
  color: white;
}

.iconTray {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 24px;
}
  
  
  
  .profileSidebar {
    flex: 1; /* Occupa 1/3 dello spazio disponibile */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  

  .profileMain {
    flex: 3; /* Occupa 2/3 dello spazio disponibile */
    padding: 20px;
  }
  
  
  
  

  